p 
{
  color: rgb(109, 41, 15);
}

.fond-img {
width: 30%;
height:30%;
}


header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(109, 41, 15);
  text-align: center;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 20px;
}

section {
float: right;  
display: flex;  
flex-direction: row;  
}

.article {
display: flex;
flex-direction:column;
text-align: justify;
}

img {
font-size: 25px;  
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  padding: 10px;
  flex: 1 100%;
}

.exemple {
  text-align: center;
  border: solid;
}


.container {
  justify-content: center; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}



div:hover {
  background-color: #F89B4D;
}

body :nth-child(4n) {
  background-color: white;
}

footer  {

  background:#ccc;  
  position:absolute;  
  bottom:0;
  width:100%;  
  padding-top:50px;  
  height:50px;
  
  }


  .button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    background: #615f8b;
    color: #fff;
  }
  /* Add a rollover background colour but keep the text white */
  .button:hover,
  .button:focus,
  .button:active {
    background: #b7b6cd;
    color: #fff;
}


.ctaButton {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }  
  
  p {
    animation-duration: 5s;
    animation-name: glissement;
    animation-iteration-count: infinite;
  }
  @keyframes glissement {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
 /* Mobile */
@media (min-width:320px) { 

  .tester {
      width:100%;
      height:500px;
      background-color:white;
  }
}

/* Tablet */
@media (min-width:640px) {

  .tester {
      width:100%;
      height:500px;
      background-color:red;
  }   

}

/* Desktop */
@media (min-width:960px) {

  .tester {
      width:100%;
      height:500px;
      background-color:blue;
  }   

} 