p
{
    color: rgb(129, 13, 13);
}

h2
{

    color : rgb(12, 8, 3)
}

body {
    font-family: fantasy;
  }
  

body {background-color: rgb(223, 185, 80);} 


body {
    font-size: 21px;
  }
  