p 
{
  color: rgb(109, 41, 15);

}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 20px;
}


<img { border:0; } alt="W3Schools" src="img/theater.png" width="50" height="50(">

<img { border:0; } alt="W3Schools" src="img/clapperboard.png" width="50" height="50(">
  <hr>
</div>

<a href="https://www.linkedin.com/in/albin-rouxel/">
<img { border:0; } alt="W3Schools" src="img/linkedin12.png" width="50" height="50">
</a>

<a href="http://www.viadeo.com/p/002aqkgo0281g02">
  <img { border:0; } alt="W3Schools" src="img/viadeo.png" width="50" height="50">
</a>




