
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>


<img src="img/42N_2MAL_400x400.jpg" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-black">


<p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
<p>Adobe Photoshop</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
  <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">90%</div>
</div>
<p>Adobe InDesign</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
  <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
    <div class="w3-center w3-text-white">80%</div>
  </div>
</div>
<p> Adobe Illustrator</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
  <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">75%</div>
</div>
<p>Suite Office</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
  <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">50%</div>
</div>
<br>


<p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
<p>Français</p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
</div>
<p>Anglais</p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
</div>
<p>Espagnol</p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
</div>
<br>
</div>
</div><br>


<div class="w3-container w3-card w3-white">
<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Activités</h2>
<div class="w3-container">
  <h5 class="w3-opacity">
<img { border:0; } alt="W3Schools" src="img/theater.png" width="50" height="50(">

<img { border:0; } alt="W3Schools" src="img/clapperboard.png" width="50" height="50(">
  <hr>
</div>

<a href="https://www.linkedin.com/in/albin-rouxel/">
<img { border:0; } alt="W3Schools" src="img/linkedin12.png" width="50" height="50">
</a>

<a href="http://www.viadeo.com/p/002aqkgo0281g02">
  <img { border:0; } alt="W3Schools" src="img/viadeo.png" width="50" height="50">
</a>




